.roulette-card {
    overflow: hidden;
    height: 200px;

    .roulette-card__list {
        position: relative;
        display: block;
        animation: slidep 2s linear infinite;
        .card__item {
            position: relative;
            border: 1px solid black;
            box-sizing: border-box;
        }
    }
}
@keyframes slidep {
    from {
        transform: translate(0, 100%)
    }
    to {
        transform: translate(0, -100%)
    }
}